Flask==1.0.2
Flask-Cors==3.0.7
grpcio==1.18.0
grpcio-tools==1.18.0
python-json-logger==0.1.10
fluent-logger==0.9.3
PyYAML==3.13
SQLAlchemy==1.2.16
PyMySQL==0.9.3
flask-sqlalchemy==2.3.2
kubernetes==v8.0.1
flask-restplus==0.12.1
Flask-Testing==0.7.1
Flask-JWT-Simple==0.0.3
python-ldap==3.1.0
Flask-Migrate==2.3.1
Flask-Script==2.0.6
protobuf3-to-dict==0.1.5
